<app-header-no-ribbon></app-header-no-ribbon>
<div class="container">
    <div class="text-heading">
      <br><br>
      <h1>{{ "REPORT.TITLE" | translate }}</h1>
      <br>
      <h2>{{ "REPORT.SUBTITLE" | translate }}</h2>
      <p class="text-secondary">
        {{ "REPORT.DESCRIPTION" | translate }} 
      </p>       
    </div>
    <form [formGroup]="registrationForm">
      <hr/>
      {{ registrationForm.value | json}}
      <hr/>
      <div class="container-form">
        <div class="form-row">
          <div class="col">
            <label >{{ "REPORT.NOMBRE" | translate }}</label>
            <input type="text" class="form-control" placeholder="Nombre(s)" name = "nombre" formControlName="nombre">
          </div>
          <div class="col">
            <label >{{ "REPORT.APELLIDO" | translate }}</label>
            <input type="text" class="form-control" placeholder="Apellido(s)" name = "apellido" formControlName="apellido">
          </div>
        </div>
        <br>
        <div class="form-group">
          <label for="exampleInputEmail1">{{ "REPORT.CORREO" | translate }}</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa tu correo" name = "email" formControlName="correo">
          <small id="emailHelp" class="form-text text-muted">{{ "REPORT.PROTECCION" | translate }}</small>
        </div>
        <div class="form-group">
          <label for="inputAddress">{{ "REPORT.DIRECCION" | translate }}</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Escriba la dirección" name = "direccion" formControlName="direccion">
        </div>
        <div class="form-group">
          <label for="inputAddress2">{{ "REPORT.REFERENCIA" | translate }}</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Escriba una referencia (calle, avenida, etc.)" name = "referencia" formControlName="referencia">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">{{ "REPORT.PROFESION" | translate }}</label>
          <select class="form-control" id="exampleFormControlSelect1" name = "profesion" formControlName="tipoPersona">
            <option *ngFor="let tipoPersona of tipoPersonas">{{tipoPersona}}</option>
            </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1" name = "comentario">{{ "REPORT.WRITEREPORT" | translate }}</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Escriba su comentario" name = "comentario" formControlName="comentario">
        </div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1" name = "imagen">{{ "REPORT.IMAGEN" | translate }}</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1" name="imagen" formControlName="imagen">
        <small>Opcional*</small>
  
      </div>
    </form>
    <a [routerLink]="['/cliente-enviado']" routerLinkActive="router-link-active"  class="btn btn-success" role="button">{{ "REPORT.ENVIAR" | translate }}</a>
<br><br><br><br><br><br>
</div>
